@media (min-width:300px) and (max-width:776px){
    .introFormatico{
    width:90%;
    }
    .logos{
    display: none;
    }
    
}
@media (min-width:300px) and (max-width:460px){
    .algo{
        display:none;
        }
    .navbar{
    background-color: rgba(49, 29, 155, 1.00);
    color: #fff;
    }    
}