.introFormatico .hojos{
color: rgb(168, 17, 206);
}
.introFormatico .du{
text-align: center;
color: orangered;
}
.introFormatico .final{
color: saddlebrown;
font-size: 20px;
}
.introFormatico .centro{
text-align: center;
}